<h1>New entry</h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project%>
<%=
       # f.select("entry", "project_id", Project.all.collect{|p| [ p.name, p.id ] }, {:include_blank => 'None'}) 
        collection_select(:entry, :project_id, Project.all, :id, :full_name, {:prompt => true})
%>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', entries_path %>
